html {
  font-size: 62.5%;
}

.gallery--item {
  border: 4px solid lightgray;
  border-radius: 40px;
  overflow: hidden;
  display: inline-block;
  width: 20rem;
  margin: 0.5px;
  box-sizing: border-box;
}

.gallery--item_title {
  display: block;
  font-size: 2rem;
  width: 20rem;
  background-color: blue;
  text-align: center;
  color: azure;
}

.gallery {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
}

.gallery--item img {
  margin: 0;
  padding: 0;
  display: block;
}
